<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- banner样式css -->
    <link rel="stylesheet" href="/css/origin_main_banner.css">
    <!-- head区域css -->
    <link rel="stylesheet" href="/css/origin_main_head.css">


    <script src="/lib/require.js" data-main="/js/origin_main_onresize.js"></script>

</head>
<body>
    <!--
    https://www.origin.com/hkg/zh-tw/store
    -->

    <!-- aside -->
    @include('aside.html')

    <!-- main -->
    <main>
        <!-- 遮罩层 -->
        <section class="coverShield"></section>

        <!-- header -->
        <header>
            <button>click</button>
            <a href="https://www.origin.com/hkg/zh-tw/store" class="logo">
                <img src="/static/icon/favicon.ico" alt="">
                <h1>Origin</h1>
            </a>
            <button>search</button>
        </header>

        <!-- banner -->
        <div id="banner">
            <div class="box2">
                <section class="bannerBg">
                    <div class="bgItem bgLef"></div>
                    <div class="bgItem bgCen"></div>
                    <div class="bgItem bgRig"></div>
                </section>
                <section class="box3">
                    <div class="shadowDiv"></div>
                    <div class="imgDiv">
                        <img src="/static/img/banner/1.jpg" alt="">
                    </div>
                    <div class="box4">
                        <h1>一级标题</h1>
                        <p>文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容</p>
                        <a href="#">立即游玩</a>
                    </div>
                </section>
            </div>
            <div class="buttonArea">
                <ul>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="left">←</div>
            <div class="right">→</div>
        </div>
        
        <!-- head -->
        <div class="head">
            <div class="box2">
                <div class="bgDiv" style="background: url(/static/img/header/original_1.jpg);"></div>
                <section class="box3">
                    <div class="cover"></div>
                    <div class="imgDiv" style="background: url(/static/img/header/1.jpg);"></div>
                    <div class="box4">
                        <h1>一级标题</h1>
                        <p>文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容</p>
                    </div>
                </section>
            </div>
            <div class="box2">
                <div class="bgDiv" style="background: url(/static/img/header/original_2.jpg);"></div>
                <section class="box3">
                    <div class="cover"></div>
                    <div class="imgDiv" style="background: url(/static/img/header/2.jpg);"></div>
                    <div class="box4">
                        <h1>一级标题</h1>
                        <p>文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容</p>
                    </div>
                </section>
            </div>
        </div>
        <div class="head">
            <div class="box2">
                <div class="bgDiv" style="background: url(/static/img/header/original_3.jpg);"></div>
                <section class="box3">
                    <div class="cover"></div>
                    <div class="imgDiv" style="background: url(/static/img/header/3.jpg);"></div>
                    <div class="box4">
                        <h1>一级标题</h1>
                        <p>文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容</p>
                    </div>
                </section>
            </div>
            <div class="box2">
                <div class="bgDiv" style="background: url(/static/img/header/original_4.jpg);"></div>
                <section class="box3">
                    <div class="cover"></div>
                    <div class="imgDiv" style="background: url(/static/img/header/4.jpg);"></div>
                    <div class="box4">
                        <h1>一级标题</h1>
                        <p>文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容文本内容</p>
                    </div>
                </section>
            </div>
        </div>
        
    </main>
    
</body>
</html>