*{padding: 0;margin: 0;}
#banner{
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 497.6px;
    /* background-color: greenyellow; */
    position: relative;
    overflow: hidden;
}
#banner:hover>.box2{box-shadow: 0 0 15px #333;}
#banner>.box2{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: .4s;
    box-shadow: 0 0 5px #ccc;
}
#banner .box3{
    /* background-color: aqua; */
    position: relative;
    box-sizing: border-box;
    display: flex;
}
#banner .box3>.shadowDiv{
    width: 100%;height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.7;
    position: absolute;
}
#banner .imgDiv{
    width: 70px;height: 98.79px;
    /* background-color: gold; */
    position: relative;
    left: 20px;top: -15px;
    z-index: 5;
}
#banner .imgDiv>img{
    width: 70px;height: 98.79px;
}
#banner .box4>h1{
    line-height: 1.5;
    font-size: 40px;
    font-weight: normal;
    margin: 10px;
    color: #fff;
}
#banner .box4>p{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}
#banner .box4>a{
    font-size: 16px;
    line-height: 2;
    color: #2CA4CB;
}
#banner .box4{
    /* background-color: purple; */
    margin-left: 40px;
    flex: 1;
    box-sizing: border-box;
    z-index: 5;
    color: #fff;
    padding-bottom: 30px;
}
#banner>.buttonArea{
    width: 100%;
    height: 60px;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner>.buttonArea>ul{
    list-style: none;
    display: flex;
    /* background-color: aquamarine; */
    gap: 10px;
}
#banner>.buttonArea>ul>li{
    width: 8px;height: 8px;
    /* background-color: gold; */
    border: 1px solid #7B8088;
    box-sizing: border-box;
    border-radius: 50%;
    transition: .4s;
    cursor: pointer;
}
#banner>.buttonArea>ul>li:hover{
    background-color: #787D85;
}
#banner>.buttonArea>ul>li.active{
    transform: scale(1.5);
    border: none;
    background-color: #F56C2D;
}
#banner:hover>.left,#banner:hover>.right{display: block;}
#banner>.left{
    width: 30px;height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: #ccc;
    position: absolute;
    left: 0;top: 0;bottom: 0;
    margin: auto;
    display: none;
    z-index: 10;
}
#banner>.left:hover{
    background-color: #ddd;
}
#banner>.right{
    width: 30px;height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: #ccc;
    position: absolute;
    right: 0;top: 0;bottom: 0;
    margin: auto;
    display: none;
    z-index: 10;
}
#banner>.right:hover{
    background-color: #ddd;
}

#banner>.box2>.bannerBg{
    width: 300%;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;left: 0;
    display: flex;
}
#banner>.box2>.bannerBg>.bgItem{
    flex: 1;
}
#banner>.box2>.bannerBg>.bgLef{
    /* background-color: darkblue; */
    background: url('https://data3.origin.com/asset/content/dam/originx/web/app/programs/Store/mlu-october-2020/Monsters_Within_store_hero_en_ww_v1.jpg/f680554b-fb44-405a-a11f-4abd1407c5b4/original.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#banner>.box2>.bannerBg>.bgCen{
    /* background-color: fuchsia; */
    background: url('https://data4.origin.com/asset/content/dam/originx/web/app/programs/Store/mlu-june-2020/FIFA22_StandardEdition_store_hero_en_ww_v2.jpg/d43a1a54-6f19-4999-bd94-818d9a0de362/original.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#banner>.box2>.bannerBg>.bgRig{
    /* background-color: darkorange; */
    background: url('https://data1.origin.com/asset/content/dam/originx/web/app/programs/Store/mlu-august-2020/MaddenNFL22_STDLaunch_store_hero_en_ww_v1.jpg/564a92e8-5b6d-4135-9d53-3aca89bb9ba1/original.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}