<!-- aside样式css -->
<link rel="stylesheet" href="/css/origin_main_aside.css">
<aside id="aside">
    
    <a href="https://www.origin.com/hkg/zh-tw/store" class="logo">
        <img src="/static/icon/favicon.ico" alt="">
        <h1>Origin</h1>
    </a>

    <div id="search">
        <div class="sizeBigMirror">🔍</div>
        <input type="text" placeholder="搜寻游戏和其它">
    </div>

    <div class="EAPLAY listHover">
        <span>EA PLAY</span>
        <span>></span>
    </div>
    <div class="shop listHover">
        <span>商店</span>
        <span></span>
    </div>
    <ul class="shopItem">
        <li>
            <span>浏览游戏</span>
            <span style="transform: scaleX(0.6);font-weight: bold;font-size: 16px;">></span>
        </li>
        <li>
            <span>特卖</span>
            <span style="transform: scaleX(0.6);font-weight: bold;font-size: 16px;">></span>
        </li>
    </ul>

    <div class="underline"></div>
    <p class="linkText">
        <a href="">关于</a>
        <span>·</span>
        <a href="">下载</a>
        <span>·</span>
        <a href="">说明</a>
    </p>

    <div class="loginArea">
        <div class="login">登录</div>
        <div class="signin">注册</div>
        <a href="#" class="langSet">
            <p>语言偏好设定</p>
        </a>
    </div>
    
</aside>