<footer id="footer">
    <div class="linkArea">
        <div class="textLef">
            <ul>
                <li><a href="#">关于</a></li>
                <li><a href="#">条款</a></li>
                <li><a href="#">法律资讯</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <div class="textRig">
            <ul>
                <li><a href="#">销售条款</a></li>
                <li><a href="#">使用者协议</a></li>
                <li><a href="#">公司资讯</a></li>
                <li><a href="#">隐私与Cookie政策(您的隐私权)</a></li>
            </ul>
        </div>
    </div>
    <div class="copyrightArea">
        <p class="title">语言</p>
        <div class="lang">
            <span>简体中文</span>
            <span>^</span>
        </div>
        <h1 class="copyright">© 2021 Electronic Arts Inc.</h1>
        <p class="textArea">Seller: EA Swiss Sàrl, Place du Molard 8, 1204, Geneva, Switzerland. Registered in the
            Geneva Companies Registry with Company Registered Number: CH-660-2328005-8. For details of our VAT
            Registrations please click <a href="#">here</a>.</p>
        <p class="textArea">contact_eahelp@ea.com</p>
        <p class="textArea">Origin v10.4.74-2600-cbc3c33a</p>
    </div>
</footer>